<div class="page-wrapper">
  <div class="content container-fluid">

  <div class="page-header">
  <div class="row align-items-center">
  <div class="col-sm-12">
  <div class="page-sub-header">
  <h3 class="page-title">Add Students</h3>
  <ul class="breadcrumb">
  <li class="breadcrumb-item"><a href="students.html">Student</a></li>
  <li class="breadcrumb-item active">Add Students</li>
  </ul>
  </div>
  </div>
  </div>
  </div>

  <div class="row">
  <div class="col-sm-12">
  <div class="card comman-shadow">
  <div class="card-body">
  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
  <div class="row">
  <div class="col-12">
  <h5 class="form-title student-info">Student Information <span><a href="javascript:;"><i class="feather-more-vertical"></i></a></span></h5>
  </div>
  <div class="col-12 col-sm-4">
    <div class="form-group local-forms">
    <label>Number <span class="login-danger">*</span></label>
    <input class="form-control" type="number" formControlName="numero" placeholder="">
    </div>
  </div>
  <div class="col-12 col-sm-4">
  <div class="form-group local-forms">
  <label>Arabic Name <span class="login-danger">*</span></label>
  <input class="form-control" type="text" formControlName="name_ar" placeholder="Enter Arabic Name">
  </div>
  </div>
  <div class="col-12 col-sm-4">
  <div class="form-group local-forms">
  <label>fransh Name <span class="login-danger">*</span></label>
  <input class="form-control" type="text" formControlName="name_fr" placeholder="Enter Fransh Name">
  </div>
  </div>
  <div class="col-12 col-sm-4">
  <div class="form-group local-forms">
  <label> Phone Number <span class="login-danger">*</span></label>
  <input class="form-control" type="text" formControlName="phone" >
  </div>
  </div>
  <div class="col-12 col-sm-4">
  <div class="form-group local-forms">
  <label>Class <span class="login-danger">*</span></label>
  <select class="form-control select" formControlName="classe">
  <option *ngFor="let class of classes"  value="{{class.id}}">{{class.name}} </option>
  </select>
  </div>
  </div>
  <div class="col-12 col-sm-4">
  <div class="form-group students-up-files">
  <label>Upload Student Photo (150px X 150px)</label>
  <div class="uplod">
  <label class="file-upload image-upbtn mb-0">
  Choose File <input type="file">
  </label>
  </div>
  </div>
  </div>
  <div class="col-12">
  <div class="student-submit">
  <button type="submit" class="btn btn-primary" >Submit</button>
  </div>
  </div>
  </div>
  </form>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
