<div class="page-wraper">


  <!-- Page Content -->
  <div class="page-content">

      <!-- Banner -->
      <div class="banner-wrapper shape-1">
          <div class="container inner-wrapper">
              <h2 class="dz-title">Sign In</h2>
              <p class="mb-0">Please sign in to your registered account</p>
          </div>
      </div>
      <!-- Banner End -->

      <!-- <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="isError">
        <strong>{{ 'USERNAME_PASSWORD_INCORRECT' | translate }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div> -->

      <div class="container">
    <div class="account-area">
      <form [formGroup]="loginForm">
        <div class="input-group">
          <input type="text" placeholder="Phone" class="form-control" formControlName="phone">
        </div>
        <div class="input-group">
          <input type="password" placeholder="Password" id="dz-password" class="form-control be-0" formControlName="password">
          <span class="input-group-text show-pass">
            <i class="fa fa-eye-slash"></i>
            <i class="fa fa-eye"></i>
          </span>
        </div>
                  <a href="forgot-password.html" class="btn-link d-block text-center">Forgot your password?</a>
        <div class="input-group">
          <button type="submit" (click)="login()" class="btn mt-2 btn-primary w-100 btn-rounded">Login</button>
        </div>
      </form>
    </div>
  </div>
  </div>
  <!-- Page Content End -->

