<div class="main-wrapper login-body">
  <div class="login-wrapper">
    <div class="container">
      <div class="loginbox">
        <div class="login-left">
          <img class="img-fluid" src="assets/img/login.png" alt="Logo">
        </div>
        <div class="login-right">
          <div class="login-right-wrap">
            <h1>{{ 'WELCOME' | translate }}</h1>
            <h2>{{ 'SIGN_IN' | translate }}</h2>

            <form [formGroup]="loginForm">
              <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="isError">
                <strong>{{ 'USERNAME_PASSWORD_INCORRECT' | translate }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>

              <div class="form-group">
                <label>{{ 'PHONE' | translate }} <span class="login-danger">*</span></label>
                <input class="form-control" type="text" formControlName="phone">
                <span class="profile-views"><i class="fas fa-user-circle"></i></span>
              </div>

              <div class="form-group">
                <label>{{ 'PASSWORD' | translate }} <span class="login-danger">*</span></label>
                <input class="form-control pass-input" type="password" formControlName="password">
                <span class="profile-views feather-eye toggle-password"></span>
              </div>

              <div class="forgotpass">
                <div class="remember-me">
                  <label class="custom_check mr-2 mb-0 d-inline-flex remember-me">
                    {{ 'REMEMBER_ME' | translate }}
                    <input type="checkbox" name="radio">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>

              <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" (click)="login()" [disabled]="loginForm.invalid">
                  {{ 'LOGIN' | translate }}
                </button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
