<body class="mini-sidebar">

  <div class="main-wrapper slide-nav">


  <app-header></app-header>


  <div class="page-wrapper" style="width: 100%;margin: 0;">
  <div class="content container-fluid">

    <div class="page-header">
      <div class="row">
      <div class="col-sm-12">
      <div class="page-sub-header">
      <h3 class="page-title">Welcome Bruklin!</h3>
      <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item active">Student</li>
      </ul>
      </div>
      </div>
      </div>
      </div>


      <div class="row">
      <div class="col-xl-3 col-sm-6 col-12 d-flex" *ngFor="let classe of classes">
      <div class="card bg-comman w-100" (click)="takeAttendace(classe.id)">
      <div class="card-body">
      <div class="db-widgets d-flex justify-content-between align-items-center">
      <div class="db-info">
      <h6>Test Attended</h6>
      <h3>{{classe.name}}</h3>
      </div>
      <div class="db-icon">
      <img src="assets/img/icons/student-icon-01.svg" alt="Dashboard Icon">
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>

  <footer>
  <p>Copyright © 2022 Dreamguys.</p>
  </footer>

  </div>

  </div>
</div>


</body>
