<body class="mini-sidebar">

  <div class="main-wrapper slide-nav">


  <app-header></app-header>


  <div class="page-wrapper" style="width: 100%;margin: 0;">
  <div class="content container-fluid">

  <div class="page-header">
  <div class="row">
  <div class="col">
  <h3 class="page-title">Cards</h3>
  <ul class="breadcrumb">
  <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
  <li class="breadcrumb-item active">Components</li>
  </ul>
  </div>
  </div>
  </div>


  <div class="row">
  <div class="col-12 col-md-6 col-lg-4 d-flex">
  <div class="card flex-fill bg-white">
  <img alt="Card Image" src="assets/img/img-01.jpg" class="card-img-top">
  <div class="card-header">
  <h5 class="card-title mb-0">Card with image and links</h5>
  </div>
  </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 d-flex">
  <div class="card flex-fill bg-white">
  <img alt="Card Image" src="assets/img/img-01.jpg" class="card-img-top">
  <div class="card-header">
  <h5 class="card-title mb-0">Card with image and links</h5>
  </div>
  </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 d-flex">
  <div class="card flex-fill bg-white">
  <img alt="Card Image" src="assets/img/img-01.jpg" class="card-img-top">
  <div class="card-header">
  <h5 class="card-title mb-0">Card with image and links</h5>
  </div>
  </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 d-flex">
  <div class="card flex-fill bg-white">
  <img alt="Card Image" src="assets/img/img-01.jpg" class="card-img-top">
  <div class="card-header">
  <h5 class="card-title mb-0">Card with image and links</h5>
  </div>
  </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4 d-flex">
  <div class="card flex-fill bg-white">
  <img alt="Card Image" src="assets/img/img-01.jpg" class="card-img-top">
  <div class="card-header">
  <h5 class="card-title mb-0">Card with image and links</h5>
  </div>
  </div>
  </div>
  </div>

  <footer>
  <p>Copyright © 2022 Dreamguys.</p>
  </footer>

  </div>

  </div>
</div>


</body>
