    <!-- Menubar -->
    <div class="menubar-area">
      <div class="toolbar-inner menubar-nav" style="display: flex;justify-content: space-between;">
        <a href="index-2.html" class="nav-link active">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.14373 20.7821V17.7152C9.14372 16.9381 9.77567 16.3067 10.5584 16.3018H13.4326C14.2189 16.3018 14.8563 16.9346 14.8563 17.7152V20.7732C14.8562 21.4473 15.404 21.9951 16.0829 22H18.0438C18.9596 22.0023 19.8388 21.6428 20.4872 21.0007C21.1356 20.3586 21.5 19.4868 21.5 18.5775V9.86585C21.5 9.13139 21.1721 8.43471 20.6046 7.9635L13.943 2.67427C12.7785 1.74912 11.1154 1.77901 9.98539 2.74538L3.46701 7.9635C2.87274 8.42082 2.51755 9.11956 2.5 9.86585V18.5686C2.5 20.4637 4.04738 22 5.95617 22H7.87229C8.19917 22.0023 8.51349 21.8751 8.74547 21.6464C8.97746 21.4178 9.10793 21.1067 9.10792 20.7821H9.14373Z" fill="#130F26"/>
          </svg>
        </a>
        <a href="javascript:void(0);" class="menu-toggler">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path opacity="0.4" d="M16.0755 2H19.4615C20.8637 2 22 3.14585 22 4.55996V7.97452C22 9.38864 20.8637 10.5345 19.4615 10.5345H16.0755C14.6732 10.5345 13.537 9.38864 13.537 7.97452V4.55996C13.537 3.14585 14.6732 2 16.0755 2Z" fill="#a19fa8"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M4.53852 2H7.92449C9.32676 2 10.463 3.14585 10.463 4.55996V7.97452C10.463 9.38864 9.32676 10.5345 7.92449 10.5345H4.53852C3.13626 10.5345 2 9.38864 2 7.97452V4.55996C2 3.14585 3.13626 2 4.53852 2ZM4.53852 13.4655H7.92449C9.32676 13.4655 10.463 14.6114 10.463 16.0255V19.44C10.463 20.8532 9.32676 22 7.92449 22H4.53852C3.13626 22 2 20.8532 2 19.44V16.0255C2 14.6114 3.13626 13.4655 4.53852 13.4655ZM19.4615 13.4655H16.0755C14.6732 13.4655 13.537 14.6114 13.537 16.0255V19.44C13.537 20.8532 14.6732 22 16.0755 22H19.4615C20.8637 22 22 20.8532 22 19.44V16.0255C22 14.6114 20.8637 13.4655 19.4615 13.4655Z" fill="#a19fa8"/>
                  </svg>
        </a>
      </div>
    </div>
    <!-- Menubar -->

    <!-- Theme Color Settings -->
    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom">
          <div class="offcanvas-body small">
              <ul class="theme-color-settings">
                  <li>
                      <input class="filled-in" id="primary_color_8" name="theme_color" type="radio" value="color-primary" />
            <label for="primary_color_8"></label>
                      <span>Default</span>
                  </li>
                  <li>
            <input class="filled-in" id="primary_color_2" name="theme_color" type="radio" value="color-green" />
            <label for="primary_color_2"></label>
                      <span>Green</span>
                  </li>
                  <li>
                      <input class="filled-in" id="primary_color_3" name="theme_color" type="radio" value="color-blue" />
            <label for="primary_color_3"></label>
                      <span>Blue</span>
                  </li>
                  <li>
                      <input class="filled-in" id="primary_color_4" name="theme_color" type="radio" value="color-pink" />
            <label for="primary_color_4"></label>
                      <span>Pink</span>
                  </li>
                  <li>
                      <input class="filled-in" id="primary_color_5" name="theme_color" type="radio" value="color-yellow" />
            <label for="primary_color_5"></label>
                      <span>Yellow</span>
                  </li>
                  <li>
                      <input class="filled-in" id="primary_color_6" name="theme_color" type="radio" value="color-orange" />
            <label for="primary_color_6"></label>
                      <span>Orange</span>
                  </li>
                  <li>
                      <input class="filled-in" id="primary_color_7" name="theme_color" type="radio" value="color-purple" />
            <label for="primary_color_7"></label>
                      <span>Purple</span>
                  </li>
                  <li>
            <input class="filled-in" id="primary_color_1" name="theme_color" type="radio" value="color-red" />
            <label for="primary_color_1"></label>
                      <span>Red</span>
                  </li>
                  <li>
            <input class="filled-in" id="primary_color_9" name="theme_color" type="radio" value="color-lightblue" />
            <label for="primary_color_9"></label>
                      <span>Lightblue</span>
                  </li>
                  <li>
                      <input class="filled-in" id="primary_color_10" name="theme_color" type="radio" value="color-teal" />
            <label for="primary_color_10"></label>
                      <span>Teal</span>
                  </li>
                  <li>
                      <input class="filled-in" id="primary_color_11" name="theme_color" type="radio" value="color-lime" />
            <label for="primary_color_11"></label>
                      <span>Lime</span>
                  </li>
                  <li>
                      <input class="filled-in" id="primary_color_12" name="theme_color" type="radio" value="color-deeporange" />
            <label for="primary_color_12"></label>
                      <span>Deeporange</span>
                  </li>
              </ul>
          </div>
      </div>
    <!-- Theme Color Settings End -->
